{% extends "aplicacion/index.html" %}

{%block titulo%}
<h1 class="display-5 fw-bolder text-white mb-2">Clientes</h1>
{%endblock titulo%}

{%block boton%}
<div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'clientes_create' %}">Agregar</a>
    <a class="btn btn-outline-light btn-lg px-4" href="{% url 'clientes_s' %}">Buscar</a>
</div>
{%endblock boton%}

{%block cuerpo%}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Número de cliente</th>
        </tr>
    </thead>
    <tbody>
    {% for c in cliente_list  %}
        <tr>
            <td>{{ c.nombre }}</td>
            <td>{{ c.numero }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{%endblock cuerpo%}